.prototype-images {}

.hero-image {
    aspect-ratio: 16/9;
    height: 70vh;
    object-fit: scale-down;
    border-radius: 0.25rem;
}

.github-mockups {
    height: 30rem;
    border: 1px solid var(--jade-a11);
    border-radius: 0.25rem;
}

.generic-mockups {
    border: 1px solid var(--jade-11);
    border-radius: 0.25rem;
}


.single-image {
    width: 100%;
    border: 1px solid var(--jade-a11);
    border-radius: 0.25rem;
}
.prototype-image {
    width: 50%;
    border-radius: 0.5rem;
}

.vimeo-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px; /* For horizontal scrollbars */
}

.screenshots {
    height: 70vh;
    border-radius: 0.25rem;
    border: 1.5px solid var(--jade-11)
}

@media screen and (max-width: 914px) {
    .prototype-images {
        flex-direction: column;
    }

    .prototype-image {
        width: 100%;
    }

    .vimeo-player {
        width: 100px;
    }
}