.project-card-image {
    aspect-ratio: 16/9;
    object-fit: scale-down;
    min-width: 40%;
    width: 40%;
    height: fit-content;
    max-height: 20rem;
    margin-right: 1rem;
    /*outline: 1px solid blue;*/
}


@media screen and (max-width: 914px) {
    .card-flex-box {
        flex-direction: column;


    }
    .project-card-image{
        width: 100%;
        height: fit-content;
    }
}